{%- if settings.logo != blank -%}
  <div class='flex items-center justify-center min-h-[2.5rem] mx-auto max-lg:max-w-[8.75rem] lg:justify-start lg:min-h-[3.75rem]'>
    {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
    {%- assign logo_height = settings.logo_width | divided_by: logo.aspect_ratio -%}
    {% capture sizes %}(max-width: {{ settings.logo_width | times: 2 }}px) 50vw, {{ settings.logo_width }}px{% endcapture %}
    {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}

    <a href='{{ routes.root_url }}' class='text-center no-underline'>
      {{
        settings.logo
        | image_url: width: 600
        | image_tag: widths: widths, height: logo_height, width: settings.logo_width, alt: logo_alt, sizes: sizes, preload: true
      }}
    </a>
  </div>
{%- else -%}
  <a href='{{ routes.root_url }}' class='text-center no-underline'>
    <p class='h2'>{{ shop.name }}</p>
  </a>
{%- endif -%}
