<meta charset='utf-8'>
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<meta name='viewport' content='width=device-width,initial-scale=1'>

<link rel='canonical' href='{{ canonical_url }}'>
<link rel='preconnect' href='https://cdn.shopify.com' crossorigin>

{%- if settings.site_favicon != blank -%}
  <link rel='shortcut icon' href='{{ settings.site_favicon | image_url: width: 32, height: 32 }}' type='image/png'>
{%- endif -%}

<title>
  {{ page_title }}
  {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
  {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
  {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
</title>

{% if page_description %}
  <meta name='description' content='{{ page_description | escape }}'>
{% endif %}

<link rel='stylesheet' href='{{- 'theme.css' | asset_url -}}'>

{%- if template.name == 'product' -%}
  <link rel='preload' as='image' href='{{ product.featured_image | image_url: width: 800 }}'>
{% endif %}
